{{> head }}
{{> menu }}

    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Nosotros</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
    </div>

    <div class="justify-content-center">
        <img src="img/imagen.jpg" alt="imagen" class="mx-auto d-block">
    </div>

{{> footer }}